.app {
  text-align: center;
  max: width 120px;
  margin: auto;
  font-family: Arial, sans-serif;
  padding: 20px;
}
.app-header {
  background-color: #414c62;
  padding: 20px;
  color: rgb(235, 235, 243);
  text-align: center;
  border-radius: 10px;
  margin-bottom: 2rem;
  box-shadow: 0 4px 8px rgba(55, 8, 172, 0.1);
}
.app-header h1 {
  margin: 0;
  font-size: 2.5rem;
  font-weight: bold;
}
